# Ignore build output
**/bin/
**/obj/

# Ignore .DS_STORE
*.DS_STORE

# Ignore NuGet packages
/packages/

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.vscode

# Ignore build artifacts
*.dll
*.pdb
*.exe
*.cache
*.log

# Ignore publish output
/wwwroot/dist/
/wwwroot/_framework/

# Ignore node_modules
node_modules/

# Ignore IDE-specific files
*.idea/
*.sln
*.csproj.user