@page "/attributions"


<PageTitle>Attributions</PageTitle>

<h1>Attributions</h1>

<p>This webpage was built with the following:</p>
<ul>
    <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a></li>
    <li><a href="ttps://getbootstrap.com">Bootstrap</a></li>
    <li><a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and
            Patterns by SVGBackgrounds.com</a></li>
    <li><a href="https://icons.getbootstrap.com">Bootstrap Icons</a></li>
    <li><a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and
            Patterns by SVGBackgrounds.com.</a>
        <ul>
            <li>Patterns used</li>
            <ul>
                <li>Endless Constellation</li>
                <li>Rose Petals</li>
                <li>Flat Mountains</li>
            </ul>
        </ul>

    </li>
    <li><a href="https://github.com/AutoMapper/AutoMapper">AutoMapper</a></li>
</ul>