@page "/attributions"


<PageTitle>Attributions</PageTitle>

<h1>Attributions</h1>

<p>This webpage was built with the following:</p>
<ul>
    <li><a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and
            Patterns by SVGBackgrounds.com</a></li>
</ul>