@page "/login"
@using System.Text.Json
@using WebApp.DTOs
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>Login</PageTitle>

<div>
    <h1>Login</h1>

    <EditForm Model="LoginData" OnValidSubmit="HandleValidSubmit" FormName="login" Enhance>
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Username"
                              @bind-Value="LoginData.Username" For="@(() => LoginData.Username)"/>
                <MudTextField Label="Password" Class="mt-3"
                              @bind-Value="LoginData.Password" For="@(() => LoginData.Password)" InputType="InputType.Password"/>
            </MudCardContent>
            <MudCardActions>
                <div class="d-flex flex-grow-1 justify-end">
                    @if (_isAttemptingLoggingIn)
                    {
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                    }
                    else
                    {
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                    }
                </div>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>
<script>
    /// Parameter is a serialized object containing "Username" and "Password" fields
    window.login = async (loginDataSerialized) => {        
        let result = await fetch("/api/authentication/login", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: loginDataSerialized
        });
        return result.ok;
    }


</script>
@code {
    [SupplyParameterFromForm(FormName = "login")]
    private LoginDto LoginData { get; set; } = new();

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? _errorMessage;

    private bool _isAttemptingLoggingIn = false;

    protected override Task OnInitializedAsync()
    {
        var identity = HttpContext?.User.Identity;
        if (identity == null)
        {
            return Task.CompletedTask;
        }

        // User is already logged in
        if (identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
        }

        return Task.CompletedTask;
    }

    private async Task HandleValidSubmit()
    {
        if (LoginData?.Username == null || LoginData?.Password == null)
        {
            _errorMessage = "Fill in all fields";
            return;
        }

        // Login: the call is from clients browser, such that cookies are stored in the clients browser
        var loginDataSerialized = JsonSerializer.Serialize(LoginData);
        _isAttemptingLoggingIn = true;
        var loggedIn = await JS.InvokeAsync<bool>("login", loginDataSerialized);
        _isAttemptingLoggingIn = false;
        if (loggedIn)
        {
            RedirectAfterLogin();
        }
    }

    /// <summary>
    /// Redirects to returnUrl if set, or just returns to home screen and then does full refresh
    /// </summary>
    private void RedirectAfterLogin()
    {
        var uri = new Uri(Navigation.Uri);
        var returnUrl = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("returnUrl");

        Navigation.NavigateTo(returnUrl ?? "/", true, true);
    }
}