@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager Navigation
@attribute [ExcludeFromInteractiveRouting]

<PageTitle>Logout</PageTitle>

@if (_tryingToLogOut)
{
    <h1>Logging out ...</h1>
}
else
{
    <h1>Logged out!</h1>
}

<a href="/login">
    Press here to login.
</a>

@code {
    private bool _tryingToLogOut = false;

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null)
        {
            return;
        }

        var identity = HttpContext.User.Identity;
        if (identity == null)
        {
            return;
        }

        // Check if the user is authenticated
        if (!identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        _tryingToLogOut = true;
        await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        _tryingToLogOut = false;

        Navigation.NavigateTo("/logout");
    }
}