@inherits LayoutComponentBase

<div class="mx-auto py-2 px-3" style="max-width: 1000px;">
    <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
