#navigationMenu {
    background-color: rgba(128, 128, 128, 0.348);
    border-radius: 8px;
    padding: 5px;
}

/* Active navigation item highlight */
.nav-item ::deep a.active {
    color: blue;
}