@namespace WebApp.Components
@using WebApp.DTOs

<div id="wrapper" class="flatMountains shadow card ratio ratio-16x9" style="border: none;min-width: 210px; max-width: 280px;">
    <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title" style="color: white">@Title</h5>

        <div class="d-flex flex-row justify-content-between"><p style="color: white">@DescriptionLeft</p>
        <p style="color: white">@DescriptionRight</p></div>
        

    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? DescriptionLeft { get; set; }

    [Parameter]
    public string? DescriptionRight { get; set; }
}