@namespace WebApp.Components

<div class="overflow-hidden rounded card" style="border-bottom: none;">
    <table class="card-body table bg-secondary mb-0">
        @TableHead
        @TableBody
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment TableHead { get; set; }

    [Parameter]
    public RenderFragment TableBody { get; set; }
}