@namespace WebApp.Components.CustomComponents

<div class="wrapper @_coverArt">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>

        <div class="description-container">
            <p style="font-weight: bold">@DescriptionTop</p>
            <p style="font-weight: lighter">@DescriptionBottom</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? DescriptionTop { get; set; }

    [Parameter]
    public string? DescriptionBottom { get; set; }

    [Parameter]
    public string? Id { get; set; }

    private string? _coverArt = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // Select random cover art based on account number
        var options = new List<string>
            {
                "flatMountains",
                "rosePetals",
                "endlessConstellation",
                "rainbowVortex"
            };

        // Convert id to int to be used as seed - not using the actual string number, can be letters there
        var random = new Random(Id.GetHashCode());

        _coverArt = options[random.Next(options.Count)];
    }
}