@namespace WebApp.Components.CustomComponents
@using WebApp.DTOs
@using WebApp.Settings
@inject CultureOptions Culture

<div class="card-scroller">
    @foreach (var bankAccount in CardAccounts)
    {
    <DebitCard
        Title="@bankAccount.Owner.Name"
        DescriptionLeft="@bankAccount.AccountNumber"
        DescriptionRight="@bankAccount.Balance.ToString("C", Culture.Info)"
        Id="@bankAccount.AccountNumber" />
    }
</div>

@code {
    [Parameter]
    public ICollection<BankAccountDto> CardAccounts { get; set; }
}