@using System.Globalization
@namespace WebApp.Components.CustomComponents

<div class="wrapper @CoverArt">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>

        <div class="description-container">
            <p style="font-weight: bold">@DescriptionTop</p>
            <p style="font-weight: lighter">@DescriptionBottom</p>
        </div>
    </div>
</div>

@code {
    public static Dictionary<string, string> CoverArtOptions { get; } = new()
    {
        { "flatMountains", "Flat Mountains" },
        { "rosePetals", "Rose Petals" },
        { "endlessConstellation", "Endless Constellation" },
        { "rainbowVortex", "Rainbow Vortex" },
    };
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? DescriptionTop { get; set; }

    [Parameter]
    public string? DescriptionBottom { get; set; }
    
    [Parameter]
    public string? CoverArt { get; set; }

    [Parameter]
    public string? Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CoverArt))
        {
            GetRandomCoverArt();
        }

        return Task.CompletedTask;
    }

    private void GetRandomCoverArt()
    {
        var id = Id;
        if (id == null)
        {
            var rand = new Random();
            id = rand.NextDouble().ToString(CultureInfo.InvariantCulture);
        }

        // Convert id to int to be used as seed - not using the actual string number, can be letters there
        var random = new Random(id.GetHashCode());

        CoverArt = CoverArtOptions.Keys.ToList()[random.Next(CoverArtOptions.Count)];
    }

}